
.btn-upload {
  background-color: transparent; 
  color: #E2E8F0;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.2s;
}

.btn-upload:hover {
  background-color: rgba(255, 255, 255, 0.1); /* <-- Ubah jadi transparan putih */
  color: #FFF;
}

.btn-upload:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
